<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link rel="stylesheet" href="/assets/styles.css">
</head>
<body class="home">
    {{> header}}
    <div class="home-wrapper">
        <aside>
            <p>I'm in the aside element</p>
        </aside>
        <main>
            {{#posts}}
            <div class="card post-card">
                <div class="post-card-header">
                    <h4>{{labelCreated}}</h4>
                    <h2>
                        <a href="/posts/{{birthyear}}/{{birthmonth}}/{{birthday}}/{{slug}}.html">{{title}}</a>
                    </h2>
                    {{#tags}}
                        <a class="tag" href="#">{{.}}</a>
                    {{/tags}}
                </div>
                <div class="post-card-content">
                    <p>{{summary}}</p>
                </div>
            </div>
            {{/posts}}
        </main>
    </div>
</body>
</html>