body.home {
  .card {
    background: white;
    box-shadow:
      0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048),
      0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072),
      0 41.8px 33.4px rgba(0, 0, 0, 0.086),
      0 100px 80px rgba(0, 0, 0, 0.12);
    padding: 1.6rem;
  }

  .post-card {
    border-radius: .5rem;
    flex: 0 0 400px;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.6rem;

    .post-card-header {
      background: #05386B;
      border-radius: .5rem .5rem 0 0;
      margin: -1.6rem -1.6rem 0;
      padding: 0 1.6rem;
      position: relative;

      a.tag {
        background-color: #8EE4AF;
        box-shadow: 2px 0px 5px 0px rgba(51,51,51,0.3);
        color: #05386B;
        font-size: 1.2rem;
        font-weight: bold;
        left: 100%;
        padding: .2rem 1.2rem;
        position: absolute;
        text-decoration: none;
        transform: translateX(calc(-100% + .8rem));
      }

      @for $i from 1 through 5 {
        a.tag:nth-of-type(#{$i}) {
          top: calc(#{$i} * 3.4rem - 2.5rem);
        }
      }
    }

    h4 {
      color: #8EE4AF;
    }

    h2 {
      padding-right: 6rem;

      a {
        color: #EDF5E1;
        text-decoration: none;
      }
    }
  }

  .home-wrapper {
    margin: 0 auto;
    width: 1280px;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;

    main {
      background-color: #FFFFFF;
      display: flex;
      flex-wrap: wrap;
      width: 900px;
      justify-content: space-between;
      align-items: flex-start;
      padding: 1.6rem;
    }

    aside {
      align-self: flex-start;
      background-color: #FFFFFF;
      width: 350px;

      h1 {
        margin-left: 1rem;
      }

      div.tags-wrapper {
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        margin-bottom: .5rem;
        justify-content: space-evenly;

        a {
          background-color: #05386B;
          border-radius: .5rem;
          box-shadow:
            0 2.8px 2.2px rgba(0, 0, 0, 0.034),
            0 6.7px 5.3px rgba(0, 0, 0, 0.048),
            0 12.5px 10px rgba(0, 0, 0, 0.06),
            0 22.3px 17.9px rgba(0, 0, 0, 0.072),
            0 41.8px 33.4px rgba(0, 0, 0, 0.086),
            0 100px 80px rgba(0, 0, 0, 0.12);
          color: #EDF5E1;
          flex: 1 0 auto;
          font-size: 1.6rem;
          margin: 0 1rem 1rem;
          padding: 1rem 1.5rem;
          text-align: center;
          text-decoration: none;

          &:hover {
            cursor: pointer;
            background-color: #074583;
          }
        }
      }
    }
  }
}