/* <----------- VARIABLES -----------> */
$fa-font-path: "./webfonts";

/* <----------- EXTERNAL -----------> */
@import "../../assets/scss/fontawesome.scss";
@import "../../assets/scss/solid.scss";

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&display=swap');

/* <----------- CUSTOM -----------> */
@import "./home_page.scss";
@import "./post_page.scss";

/* <----------- COMMON -----------> */
@keyframes colordance {
  0% {
    color: #379683;
  }

  20% {
    color: #05386B;
  }

  40% {
    color: #2ECC40;
  }

  60% {
    color: #FFDC00;
  }

  80% {
    color: #7B2182;
  }

  100% {
    color: #379683;
  }
}

html {
  background: #EBEBEB;
  color: #333333;
  font-size: 62.5%;

  body {
    margin: 0;
    padding-top: 7rem;
  }

  p {
    font-size: 1.6rem;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.4rem;
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.4rem;
  }
}

* {
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;
}

a.trippy {
  color: #379683;
  font-size: 1.6rem;

  &:hover,
  &:focus {
      animation-duration: 1s;
      animation-name: colordance;
      animation-iteration-count: infinite;
  }
}

a[target="_blank"] {
  @extend %fa-icon;
  @extend .fas;

  &:after {
    content: fa-content($fa-var-external-link-alt);
    margin-left: .25rem;
  }
}

/* <----------- NAVIGATION -----------> */
nav {
  background-color: black;
  color: #EDF5E1;
  font-weight: bold;
  margin-top: -7rem;
  position: fixed;
  width: 100%;

  div {
    display: flex;
    margin: 0 auto;
    width: 1280px;

    img {
      border: 3px solid #8EE4AF;
      border-radius: 50%;
      height: 5rem;
      margin: 1rem;
      width: 5rem;
    }

    ul {
      align-self: center;
      display: inline-block;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        font-size: 2rem;
        padding: .5rem 2rem;

        &:not(:last-of-type) {
          border-style: solid;
          border-width: 2px;
          border-color: transparent;
          border-right-color: #EDF5E1;
        }

        &.active {
          border-color: #EDF5E1;
        }

        a {
          color: inherit;
          text-decoration: none;
        }
      }
    }
  }
}